#cont {
  border: 2px solid white;
  padding: 10px;
  border-radius: 25px;
  background-color: #2E3747;
  position: absolute;
    left: 46%;
    top: 30%;
    height: 600px;
    margin-top: -100px ;
    width: 600px;
    margin-left: -200px ;
}

body{
    background-color:  #577284;
    color: white;
}
input, select, textarea{
    color: #000;
}
table, th, td {
    border: 1px solid black;
  }
  
  .table {
    width: 20%;
    max-width: 100%;
    margin-bottom: 20px;
}
  
#answerB{
    color:black
}